<!DOCTYPE html>
<html lang="es">
  <head>
    <title>EJS - <%= titulo %></title>
    <link rel="stylesheet" href="./css/bootstrap.min.css" />
  </head>
  <body>
    <%- include("navbar"); %>

</html>
